<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.lopesdasilva.trakt"
          android:versionCode="27"
          android:versionName="1.27">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="16"/>

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="com.lopesdasilva.trakt.TVtraktApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.lopesdasilva.trakt.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <meta-data
                android:name="android.app.default_searchable"
                android:value="com.lopesdasilva.trakt.activities.SearchActivity"/>

        </activity>
        <activity
            android:name="com.lopesdasilva.trakt.activities.EpisodeActivity">
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>

        <activity
            android:name="com.lopesdasilva.trakt.activities.ShowActivity">
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="trakt.tv"
                    android:pathPrefix="/show/"
                    android:scheme="http" />
                <data
                    android:host="www.trakt.tv"
                    android:pathPrefix="/show/"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lopesdasilva.trakt.activities.CalendarActivity">
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>

        <activity
            android:name="com.lopesdasilva.trakt.activities.SeasonsActivity">
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>
        <activity
            android:name="com.lopesdasilva.trakt.activities.MovieActivity">
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="trakt.tv"
                    android:pathPrefix="/movie/"
                    android:scheme="http" />
                <data
                    android:host="www.trakt.tv"
                    android:pathPrefix="/movie/"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lopesdasilva.trakt.activities.EpisodesTonightActivity">
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>
        <activity
            android:name="com.lopesdasilva.trakt.activities.SearchActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:label="trakt it" android:noHistory="true"/>

        <receiver android:name="com.lopesdasilva.trakt.alarms.MyAlarmReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"></action>
            </intent-filter>
        </receiver>
        <receiver android:name="com.lopesdasilva.trakt.broadcasts.CheckInReceiver"/>

        <receiver android:name=".widgets.TonightEpisodesWidget" android:label="@string/widget_tonight_episodes" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/widget_episodes_tonight_info" />
        </receiver>

        <service android:name="com.lopesdasilva.trakt.widgets.WidgetService"
                 android:permission="android.permission.BIND_REMOTEVIEWS" />

        <activity
            android:name="com.lopesdasilva.trakt.activities.ShowsActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>



        </activity>
        <activity
            android:name="com.lopesdasilva.trakt.activities.MoviesActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>
        <activity
            android:name="com.lopesdasilva.trakt.activities.RecommendedActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>
        <activity
            android:name="com.lopesdasilva.trakt.activities.RegisterActivity"
            android:parentActivityName=".MainActivity"
            android:noHistory="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>

        <activity
            android:name="com.lopesdasilva.trakt.activities.UserActivityActivity">
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>



    </application>


</manifest>
